<div class="nav-container">
    <div class="nav-brand" style="display: flex; flex-direction: column; gap: 5px">
        <a href="{{ site.baseurl }}/" style="text-decoration: none; color: inherit">
            <h1>{{ site.title }}</h1>
        </a>
        <div style="display: flex; gap: 20px">
            <a href="{{ site.baseurl }}/about" style="text-decoration: none; color: inherit">
                <h5 style="margin: 0">About</h5>
            </a>
        </div>
    </div>

    <div class="nav-right">
        {% include social-buttons.html %}
        {% include theme-toggle.html %}
    </div>
</div>
